<p style="color: red"><%= notice %></p>
<style>
    table{
        border: 1px solid #ccc;
    }
    table tr th {
        border: 1px solid #ccc;
        font-weight: bold;
    }
    table tr td {
        border: 1px solid #ccc;
    }

</style>

<fieldset>
  <legend>Cadastra nova receita</legend>
  <form action="/shopping_list" method="post">
    <div>
      <label for="id_list"> Número da lista: </label>
      <input type="text" id="id_list" name="id_list">
    </div>
    <br>
    <table>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Valor</th>
        <th>Selecionar</th>
      </tr>
      <% i=0 %>
      <% @products.each do |row|%>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.name %></td>
          <td><%= row.value %></td>
          <td><input type="checkbox" name="<%= i %>" id="<%= i %>" value="<%= row.id %>"></td>
        </tr>
        <% i=i+1 %>
      <% end %>
    </table>
    
    <br>
    <div>
      <input type="submit" value="Cadastrar" >
    </div>
  </form>
</fieldset>
<br>
<%= button_to "Voltar", "/user/#{@user.id}/shopping_list" , method: :get %>
