<fieldset>
  <legend>Atualizar Cadastro</legend>
  <form action="/user/<%= @user.id %>" method="put">
    <div>
      <label for="first_name"> Primeiro nome: </label>
      <input type="text" id="first_name" name="first_name" value="<%= @user.first_name %>">
    </div>
    <br>
    <div>
      <label for="last_name"> Segundo nome: </label>
      <input type="text" id="last_name" name="last_name" value="<%= @user.last_name %>">
    </div>
    <br>
    <div>
      <label for="age"> Idade: </label>
      <input type="text" id="age" name="age" value="<%= @user.age %>">
    </div>
    <br>
    <div>
      <label for="password"> Senha: </label>
      <input type="text" id="password" name="password" value="<%= @user.password %>">
    </div>
    <br>
    <div>
      <input type="submit" value="Atualizar">
    </div>
  </form>
</fieldset>
<br>
<%= button_to "Voltar", user_path, params: { id: @user.id  }, method: :get %>