<p style="color: red"><%= notice %></p>

<div>
    <h1>Atualizar Cadastro</h1>
    <%= form_with(model: @user)  do |form| %>
        <div>
            <%= form.label :first_name, "Primeiro nome:" %>
            <br>
            <%= form.text_field :first_name %>
        </div>
        <div>
            <%= form.label :last_name, "Segundo nome:" %>
            <br>
            <%= form.text_field :last_name %>
        </div>
        <div>
            <%= form.label :age, "Idade:" %>
            <br>
            <%= form.text_field :age %>
        </div>
        <div>
            <%= form.label :password, "Senha:" %>
            <br>
            <%= form.text_field :password %>
        </div>
        <br>
        <div>
            <%= form.submit "Atualizar"%>
        </div>
    <% end %>
</div>
<p>-------------------------------------------------------</p>
<%= button_to "Voltar", user_path(@user.id), method: :get %>