<p style="color: green"><%= notice %></p>
<div>
    <h1>Login</h1>
    <%= form_with url: user_login_path, method: :get  do |form| %>
        <div>
            <%= form.label :first_name, "Primeiro nome:" %>
            <br>
            <%= form.text_field :first_name %>
        </div>

        <div>
            <%= form.label :password, "Senha:" %>
            <br>
            <%= form.password_field :password %>
        </div>
        <br>
        <div>
            <%= form.submit "Entrar"%>
        </div>
    <% end %>
    <p>-------------------------------------------------------</p>
    <div>
        <%= button_to "Cadastrar", new_user_path, method: :get  %>    
    </div>    
</div>

