<p style="color: red"><%= notice %></p>

<div>
    <h1>Cadastro</h1>
    <%= form_with url: user_index_path, method: :post  do |form| %>
        <div>
            <%= form.label :first_name, "Primeiro nome:" %>
            <br>
            <%= form.text_field :first_name %>
        </div>
        <div>
            <%= form.label :last_name, "Segundo nome:" %>
            <br>
            <%= form.text_field :last_name %>
        </div>
        <div>
            <%= form.label :age, "Idade:" %>
            <br>
            <%= form.text_field :age %>
        </div>
        <div>
            <%= form.label :password, "Senha:" %>
            <br>
            <%= form.password_field :password %>
        </div>
        <br>
        <div>
            <%= form.submit "Cadastrar"%>
        </div>
    <% end %>
</div>
<p>-------------------------------------------------------</p>
<%= button_to "Voltar", root_path, method: :get %>