<p style="color: green"><%= notice %></p>
<h1> <%= @user.first_name %> <%= @user.last_name %> </h1>
<p>Idade: <%= @user.age %></p>
<p>Senha: <%= @user.password %></p>
<% if @user.admin? %>
    <p>-----------------Usuário Administrador-------------------</p>
    <%= button_to "Cadastro de produtos", admin_products_path, method: :get %>
    <br>
    <%= button_to "Usuários", user_index_path, method: :get %>
    <p>---------------------------------------------------------</p>
<% end %>

<div>
  <%= link_to "Alterar", edit_user_path(@user.id) %> |
  <%= link_to "Lista de Compras", shopping_list_user_path(@user.id) %> |
  <%= link_to "Sair", user_logout_path %>  
</div>

