<p style="color: green"><%= notice %></p>
<style>
    table{
        border: 1px solid #ccc;
    }
    table tr th {
        border: 1px solid #ccc;
        font-weight: bold;
    }
    table tr td {
        border: 1px solid #ccc;
    }

</style>
<h1>Produtos Cadastrados</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Valor</th>
    </tr>
    <% @products.each do |row|%>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.name %></td>
          <td><%= row.value %></td>
        </tr>
      <% end %>
</table>
<p>-------------------------------------------------------</p>
<div>
    <h1>Cadastrar produto</h1>
    <%= form_with url: products_path, method: :post do |form| %>
        <div>
            <%= form.hidden_field :id_admin, value: "#{@id_admin}" %>
            <%= form.label :name, "Nome do Produto:" %>
            <br>
            <%= form.text_field :name %>
        </div>
        <div>
            <%= form.label :value, "Valor:" %>
            <br>
            <%= form.text_field :value %>
        </div>
        <br>
        <div>
            <%= form.submit "Cadastrar"%>
        </div>
    <% end %>
</div>
<p>-------------------------------------------------------</p>
</div><%= button_to "Voltar", user_path(@id_admin), method: :get  %>

